<!DOCTYPE html>
<html>
<head>
    {(common/meta.html)}
</head>

<body class="fixed-sidebar full-height-layout gray-bg">
<div id="wrapper">
    {(common/left_nav.html)}<!-- 左侧导航 -->

    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row J_mainContent">
            <div class="row content-header">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h4 class="head_title">Kafka log</h4>
                    </div>
                    <div class="pull-right">
                        <a id="switch-btn" data-on="yes" class="btn btn-danger" rel="nofollow"
                           href="javascript:void(0);">
                            <i class="fa fa-pause"></i>
                            <span>停用该插件</span>
                        </a>
                        <a class="btn btn-default" href="javascript:void(0);" id="sync-btn">
                            <i class="fa fa-refresh"></i>
                            <span>同步配置</span>
                        </a>
                    </div>
                </div>
            </div>
            <div>本插件无需配置</div>
        </div><!-- content end -->
    </div><!--右侧部分结束-->
</div>

{(common/selector-item-tpl.html)}
{(common/common_js.html)}<!-- 通用js -->
<script src="/static/js/echarts3/echarts.common.min.js"></script>
<script src="/static/js/kafka.js"></script>
<script type="text/javascript">
    APP.Common.resetNav("nav-kafka");
    APP.Kafka.init();
</script>
</body>
</html>
