<!DOCTYPE html>
<html>
<head>
    {(common/meta.html)}
</head>

<body class="fixed-sidebar full-height-layout gray-bg">
<div id="wrapper">
    {(common/left_nav.html)}<!-- 左侧导航 -->

    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row J_mainContent">
            <div class="row content-header">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h4 class="head_title">API调用统计</h4>
                    </div>
                    <div class="pull-right" id="time-set">
                        <a id="switch-btn" style="display:none;" data-on="yes" class="btn btn-danger" rel="nofollow"
                           href="javascript:void(0);">
                            <i class="fa fa-pause"></i>
                            <span>停用该插件</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" id="time-set">
              <span class="l">最近</span>
              <a href="javascript:void(0);" class="active time_range" data-minutes="1">1分钟</a> /
              <a href="javascript:void(0);" class="time_range" data-minutes="5">5分钟</a> /
              <a href="javascript:void(0);" class="time_range" data-minutes="15">15分钟</a> /
              <a href="javascript:void(0);" class="time_range" data-minutes="30">30分钟</a> /
              <a href="javascript:void(0);" class="time_range" data-minutes="60">1小时</a> /
              <a href="javascript:void(0);" class="time_range" data-minutes="180">3小时</a> /
              <a href="javascript:void(0);" class="time_range" data-minutes="360">6小时</a> /
              <a href="javascript:void(0);" class="time_range" data-minutes="720">12小时</a> /
              <a href="javascript:void(0);" class="time_range" data-minutes="1440">24小时</a>
              <span class="l">统计数据</span>
              <span>{{ip}}</span>
            </div>
            <div class="row">
              <table
              id="api_stats_list"
              data-show-refresh="true"
              data-search="true"
              data-pagination="true"
              data-toggle="table"
              data-page-size="15"
              data-page-list="[15, 30, 60, 120]"
              data-url="/persist/api_stats?period=1&ip={{ ip }}">
              </table>
            <div>
            <div class="row" id="graphbox" style="display:none">
              <div id="time-set2">
                <span>最近</span>
                <a href="javascript:void(0);" class="active time_range2" data-minutes="60">1小时</a> /
                <a href="javascript:void(0);" class="time_range2" data-minutes="180">3小时</a> /
                <a href="javascript:void(0);" class="time_range2" data-minutes="360">6小时</a> /
                <a href="javascript:void(0);" class="time_range2" data-minutes="720">12小时</a> /
                <a href="javascript:void(0);" class="time_range2" data-minutes="1440">1天</a> /
                <a href="javascript:void(0);" class="time_range2" data-minutes="2880">2天</a> /
                <a href="javascript:void(0);" class="time_range2" data-minutes="4320">3天</a> /
                <a href="javascript:void(0);" class="time_range2" data-minutes="10080">7天</a>              
                <span>曲线</span>
              </div>
              <input type="hidden" id="api" value=""/>
              <input type="hidden" id="domain" value=""/>
              <div style="width:800px;height:400px;padding-top:20px;" id="request-area"></div>
            </div>
        </div><!-- content end -->
    </div><!--右侧部分结束-->
</div>

<input type="hidden" id="ip-input" value="{{ ip }}"/>

{(common/selector-item-tpl.html)}
{(common/common_js.html)}<!-- 通用js -->
<script src="/static/js/echarts3/echarts.common.min.js"></script>
<script type="text/javascript">

var persist = {};
persist.data = {};

function initTable() {
  var $table = $('#api_stats_list')
  $table.bootstrapTable('destroy').bootstrapTable({
    height:'auto',
    locale: "zh-CN",
    columns: [
      {
        title: 'domain',
        field: 'domain',
        align: 'left',
        sortable: true,
      },{
        field: 'api',
        title: 'api',
        sortable: true,
        align: 'left'
      }, {
        field: 'total',
        title: 'total_reqs',
        sortable: true,
        align: 'left',
      }, {
        field: 'avg_time',
        title: 'avg_time(ms)',
        sortable: true,
        align: 'left',
      }, {
        field: '2xx',
        title: '2xx',
        sortable: true,
        align: 'left',
      }, {
        field: '3xx',
        title: '3xx',
        sortable: true,
        align: 'left',
      }, {
        field: '4xx',
        title: '4xx',
        sortable: true,
        align: 'left',
      }, {
        field: '5xx',
        title: '5xx',
        sortable: true,
        align: 'left',
      }, {
        field: 'avg_write',
        title: 'avg_wbytes',
        sortable: true,
        align: 'left',
      }, {
        field: 'avg_read',
        title: 'avg_rbytes',
        sortable: true,
        align: 'left',
      }, {
        field: 'graph',
        title: 'graph',
        sortable: true,
        formatter: graphFormatter,
        align: 'center',
      }
    ]
  })
}

function graphFormatter(value, row, index){
  var content = '<a class="api_stat_graph" data-api="'+row['api']+'" data-domain="'+row['domain']+'" href="javascript:void(0)" title="Graph">'+
    '<i class="fa fa-th"></i>'+
    '</a>';
  return content;
}

function initRequestStatusfunction() {
  var option = {
      grid: {
          left: '20px',
          right: '20px',
          bottom: '30px',
          containLabel: true
      },
      tooltip: {
        trigger: 'axis',
        formatter: function (params) {
          return "["+new Date(params[0]['data'][0]).format("MM-dd HH:mm")+"] "+params[0]['data'][1]
        },
        axisPointer: {
            animation: false
        }
      },
      legend: {
          data: ['全部请求', '2xx请求', '3xx请求', '4xx请求', '5xx请求', '平均请求时间','平均请求读字节','平均请求写字节'],
          selectedMode:'single'
      },
      xAxis: [{
          type: 'time',
          splitLine: {
            show: false
          }
      }],
      yAxis: [{
          type: 'value',
          scale: true,
          name: ''
      }],
      series: [{
          name: '全部请求',
          type: 'line',
          itemStyle: {
              normal: {
                lineStyle:{
                  width:1
                },
                color: '#03A1F7'
              }
          },
          showSymbol: false,
          hoverAnimation: false,
          data: []
      }, {
          name: '2xx请求',
          type: 'line',
          itemStyle: {
              normal: {
                lineStyle:{
                  width:1
                },
                color: '#03A1F7'
              }
          },
          showSymbol: false,
          hoverAnimation: false,
          data: []
      }, {
          name: '3xx请求',
          type: 'line',
          itemStyle: {
              normal: {
                lineStyle:{
                  width:1
                },
                color: '#03A1F7'
              }
          },
          showSymbol: false,
          hoverAnimation: false,
          data: []
      }, {
          name: '4xx请求',
          type: 'line',
          itemStyle: {
              normal: {
                lineStyle:{
                  width:1
                },
                color: '#03A1F7'
              }
          },
          showSymbol: false,
          hoverAnimation: false,
          data: []
      }, {
          name: '5xx请求',
          type: 'line',
          itemStyle: {
              normal: {
                  color: '#F75903'
              }
          },
          showSymbol: false,
          hoverAnimation: false,
          data: []
      }, {
          name: '平均请求时间',
          type: 'line',
          itemStyle: {
              normal: {
                lineStyle:{
                  width:1
                },
                color: '#03A1F7'
              }
          },
          showSymbol: false,
          hoverAnimation: false,
          data: []
      }, {
          name: '平均请求读字节',
          type: 'line',
          itemStyle: {
              normal: {
                lineStyle:{
                  width:1
                },
                color: '#03A1F7'
              }
          },
          showSymbol: false,
          hoverAnimation: false,
          data: []
      }, {
          name: '平均请求写字节',
          type: 'line',
          itemStyle: {
              normal: {
                lineStyle:{
                  width:1
                },
                color: '#03A1F7'
              }
          },
          showSymbol: false,
          hoverAnimation: false,
          data: []
      }]
  };

  var requestChart = echarts.init(document.getElementById('request-area'));
  requestChart.setOption(option);
  persist.data.requestChart = requestChart;
}

Date.prototype.format=function(fmt) {           
    var o = {           
    "M+" : this.getMonth()+1, //月份           
    "d+" : this.getDate(), //日           
    "h+" : this.getHours()%12 == 0 ? 12 : this.getHours()%12, //小时           
    "H+" : this.getHours(), //小时           
    "m+" : this.getMinutes(), //分           
    "s+" : this.getSeconds(), //秒           
    "q+" : Math.floor((this.getMonth()+3)/3), //季度           
    "S" : this.getMilliseconds() //毫秒           
    };           
    var week = {           
    "0" : "/u65e5",           
    "1" : "/u4e00",           
    "2" : "/u4e8c",           
    "3" : "/u4e09",           
    "4" : "/u56db",           
    "5" : "/u4e94",           
    "6" : "/u516d"          
    };           
    if(/(y+)/.test(fmt)){           
        fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));           
    }           
    if(/(E+)/.test(fmt)){           
        fmt=fmt.replace(RegExp.$1, ((RegExp.$1.length>1) ? (RegExp.$1.length>2 ? "/u661f/u671f" : "/u5468") : "")+week[this.getDay()+""]);           
    }           
    for(var k in o){           
        if(new RegExp("("+ k +")").test(fmt)){           
            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));           
        }           
    }           
    return fmt;           
}         

function getApiStatsDataAndRender(period,api,domain,ip){
  $.getJSON("/persist/api_stats_data?period="+period+"&api="+api+"&domain="+domain+"&ip="+ip,function(res){
    statsData = {} 
    for(index in res.data){
      statsData[res.data[index].stat_time]=res.data[index];
    }
    var end = parseInt(period)
    var requestOption = persist.data.requestChart.getOption();
    var timeList = [];
    for(i=1;i<=end;i++){
      var date = new Date();
      date.setSeconds(date.getSeconds() - i*60);
      timeList.push(date.format("yyyy-MM-dd HH:mm:00"));
    }

    requestOption.series[0].data = [];
    requestOption.series[1].data = [];
    requestOption.series[2].data = [];
    requestOption.series[3].data = [];
    requestOption.series[4].data = [];
    requestOption.series[5].data = [];
    requestOption.series[6].data = [];
    requestOption.series[7].data = [];

    for(i=0;i<timeList.length;i++){
      info = statsData[timeList[i]]
      var time = new Date(timeList[i]).getTime();
      if (info) {
        var item = [timeList[i],info.total];
        requestOption.series[0].data.push([time,info['total']]);
        requestOption.series[1].data.push([time,info['2xx']]);
        requestOption.series[2].data.push([time,info['3xx']]);
        requestOption.series[3].data.push([time,info['4xx']]);
        requestOption.series[4].data.push([time,info['5xx']]);
        requestOption.series[5].data.push([time,info['avg_time']]);
        requestOption.series[6].data.push([time,info['avg_read']]);
        requestOption.series[7].data.push([time,info['avg_write']]);

      }else{
        requestOption.series[0].data.push([time,0]);
        requestOption.series[1].data.push([time,0]);
        requestOption.series[2].data.push([time,0]);
        requestOption.series[3].data.push([time,0]);
        requestOption.series[4].data.push([time,0]);
        requestOption.series[5].data.push([time,0]);
        requestOption.series[6].data.push([time,0]);
        requestOption.series[7].data.push([time,0]);
      }
    }

    persist.data.requestChart.setOption(requestOption);

  });
}

$(document).ready(function () {
  initTable()

  APP.Common.loadConfigs("persist", persist, true);
  APP.Common.initSwitchBtn("persist", persist); //关闭、开启
});

$(document).on("click", ".time_range", function() {
    var minutes = parseInt($(this).attr("data-minutes"));
    $('.time_range').removeClass('active');
    $(this).addClass('active');
    var $table = $('#api_stats_list');
    var ip = $("#ip-input").val();
    $table.bootstrapTable('refresh',{url:'/persist/api_stats?period='+minutes+'&ip='+ip});
});

$(document).on("click", ".time_range2", function() {
    var minutes = parseInt($(this).attr("data-minutes"));
    $('.time_range2').removeClass('active');
    $(this).addClass('active');

    var api = $("#api").val();
    var domain = $("#domain").val();
    var ip = $("#ip-input").val();

    getApiStatsDataAndRender(minutes,api,domain,ip);
});

$(document).on("click", ".api_stat_graph", function() {


  var api = $(this).attr("data-api");
  var domain = $(this).attr("data-domain");

  $("#api").val(api);
  $("#domain").val(domain);

  $('.time_range2').removeClass('active');
  $('.time_range2').eq(0).addClass('active');

  initRequestStatusfunction();
  getApiStatsDataAndRender(60,api,domain,"");

  var d = dialog({
	title: 'API【'+api+'】曲线',
	content: document.getElementById('graphbox')
  });
  d.showModal();
});

</script>
</body>
</html>
